:root {
    --bs-body-font-family: 'Work Sans', sans-serif;
}

a {
  color: #3c3c3c;
  text-decoration: none;
}

a:hover, .nav-link, .nav-link:hover {
    color: black;
}

@media (max-width: 768px) {
  .navbar-toggler {
      position: absolute;
      right: 50px;
      z-index: 1000; /* To ensure it's above other content */
  }
}

.bg-grey {
    background-color: #e0e0db;
}

.bg-grey-rounded {
    background-color: #e0e0db;
    border-radius: 25px;
}

.hero-background {
  background-image: url('images/bg-top.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  display: flex; 
  flex-direction: column;
}

.active {
  font-weight: 900;
}

.underline-animation {
    display: inline-block;
    position: relative;
    color: #3c3c3c;
  }
  
  .underline-animation::after {
    content: '';
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 5%;
    background-color: #3c3c3c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .cropped-hero {
    width: 90vh; 
    height: 70vh; 
    object-fit: cover;
    object-position: 100%; 
}

.bg-change-animation {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.bg-change-animation:hover {
    background-color: #797975;
    color: #FFF;
    cursor: pointer;
}

.cover {
  object-fit: cover;
}

.mandatory {
  font-size: 0.9em;
  color: #6c757d;
}

.btn-icon {
  background: none;
  border: none;
  padding: 0;
}

.btn-main, button .btn-main {
  background-color: #253551;
  color: white;
}

.btn-main-empty {
  border: 2px solid #253551; /* Example border color, you can change it */
  background-color: transparent;
  color: #253551;
}

.btn-main-empty:hover {
  background-color: #253551;
  color: white;
  cursor: pointer;
}

.btn-main:hover {
  background-color: #141d2b;
  color: white;
  cursor: pointer;
}

.btn-icon:hover, .btn-close-content:hover {
  color:#797975;
}

footer {
  justify-content: space-between; /* Adjusts spacing for larger screens */
}

/* CSS for mobile screens */
@media (max-width: 768px) {
  footer {
      justify-content: center; /* Centers content for mobile screens */
      text-align: center;
  }
  footer > * {
      flex: 0 0 100%; /* Makes each child take full width */
      display: block; /* Stacks the children */
      margin-bottom: 10px; /* Adds some space between the elements */
  }
}